<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/Users/Lee/Desktop/博客项目/static/css/uikit.min.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    <link rel="stylesheet" href="/Users/Lee/Desktop/博客项目/static/css/components/accordion.css">
    <script src="/Users/Lee/Desktop/博客项目/static/js/uikit.min.js"></script>
    <script src="/Users/Lee/Desktop/博客项目/static/js/components/accordion.js"></script>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body> 
        <ul class="uk-tab">
                <li><a href="">...</a></li>
            
                <!-- 关联JavaScript的容器 -->
                <li data-uk-dropdown="{mode:'click'}">
            
                    <!-- 拨动下拉菜单的元素 -->
                    <a href="">...</a>
            
                    <!-- 下拉菜单 -->
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li><a href="">...</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
</body>
</html>