<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sound</key>
		<string>B-a</string>
		<key>katagana</key>
		<string>ア@3x.png</string>
		<key>hiragana</key>
		<string>あ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-ka</string>
		<key>katagana</key>
		<string>カ@3x.png</string>
		<key>hiragana</key>
		<string>か@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-sa</string>
		<key>katagana</key>
		<string>サ@3x.png</string>
		<key>hiragana</key>
		<string>さ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-ta</string>
		<key>katagana</key>
		<string>タ@3x.png</string>
		<key>hiragana</key>
		<string>た@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-na</string>
		<key>katagana</key>
		<string>ナ@3x.png</string>
		<key>hiragana</key>
		<string>な@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-ha</string>
		<key>katagana</key>
		<string>ハ@3x.png</string>
		<key>hiragana</key>
		<string>は@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-ma</string>
		<key>katagana</key>
		<string>マ@3x.png</string>
		<key>hiragana</key>
		<string>ま@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-ya</string>
		<key>katagana</key>
		<string>ヤ@3x.png</string>
		<key>hiragana</key>
		<string>や@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-ra</string>
		<key>katagana</key>
		<string>ラ@3x.png</string>
		<key>hiragana</key>
		<string>ら@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-wa</string>
		<key>katagana</key>
		<string>ワ@3x.png</string>
		<key>hiragana</key>
		<string>わ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-n</string>
		<key>katagana</key>
		<string>ン@3x.png</string>
		<key>hiragana</key>
		<string>ん@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-i</string>
		<key>katagana</key>
		<string>イ@3x.png</string>
		<key>hiragana</key>
		<string>い@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-ki</string>
		<key>katagana</key>
		<string>キ@3x.png</string>
		<key>hiragana</key>
		<string>き@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-shi</string>
		<key>katagana</key>
		<string>シ@3x.png</string>
		<key>hiragana</key>
		<string>し@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-chi</string>
		<key>katagana</key>
		<string>チ@3x.png</string>
		<key>hiragana</key>
		<string>ち@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-ni</string>
		<key>katagana</key>
		<string>ニ@3x.png</string>
		<key>hiragana</key>
		<string>に@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-hi</string>
		<key>katagana</key>
		<string>ヒ@3x.png</string>
		<key>hiragana</key>
		<string>ひ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-mi</string>
		<key>katagana</key>
		<string>ミ@3x.png</string>
		<key>hiragana</key>
		<string>み@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string></string>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-ri</string>
		<key>katagana</key>
		<string>リ@3x.png</string>
		<key>hiragana</key>
		<string>り@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string></string>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>sound</key>
		<string></string>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-u</string>
		<key>katagana</key>
		<string>ウ@3x.png</string>
		<key>hiragana</key>
		<string>う@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-ku</string>
		<key>katagana</key>
		<string>ク@3x.png</string>
		<key>hiragana</key>
		<string>く@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-su</string>
		<key>katagana</key>
		<string>ス@3x.png</string>
		<key>hiragana</key>
		<string>す@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-tsu</string>
		<key>katagana</key>
		<string>ツ@3x.png</string>
		<key>hiragana</key>
		<string>つ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-nu</string>
		<key>katagana</key>
		<string>ヌ@3x.png</string>
		<key>hiragana</key>
		<string>ぬ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-fu</string>
		<key>katagana</key>
		<string>フ@3x.png</string>
		<key>hiragana</key>
		<string>ふ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-mu</string>
		<key>katagana</key>
		<string>ム@3x.png</string>
		<key>hiragana</key>
		<string>む@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-yu</string>
		<key>katagana</key>
		<string>ユ@3x.png</string>
		<key>hiragana</key>
		<string>ゆ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-ru</string>
		<key>katagana</key>
		<string>ル@3x.png</string>
		<key>hiragana</key>
		<string>る@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string></string>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>sound</key>
		<string></string>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-e</string>
		<key>katagana</key>
		<string>エ@3x.png</string>
		<key>hiragana</key>
		<string>え@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-ke</string>
		<key>katagana</key>
		<string>ケ@3x.png</string>
		<key>hiragana</key>
		<string>け@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-se</string>
		<key>katagana</key>
		<string>セ@3x.png</string>
		<key>hiragana</key>
		<string>せ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-te</string>
		<key>katagana</key>
		<string>テ@3x.png</string>
		<key>hiragana</key>
		<string>て@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-ne</string>
		<key>katagana</key>
		<string>ネ@3x.png</string>
		<key>hiragana</key>
		<string>ね@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-he</string>
		<key>katagana</key>
		<string>ヘ@3x.png</string>
		<key>hiragana</key>
		<string>ヘ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-me</string>
		<key>katagana</key>
		<string>メ@3x.png</string>
		<key>hiragana</key>
		<string>め@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string></string>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-re</string>
		<key>katagana</key>
		<string>レ@3x.png</string>
		<key>hiragana</key>
		<string>れ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string></string>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>sound</key>
		<string></string>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-o</string>
		<key>katagana</key>
		<string>オ@3x.png</string>
		<key>hiragana</key>
		<string>お@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-ko</string>
		<key>katagana</key>
		<string>コ@3x.png</string>
		<key>hiragana</key>
		<string>こ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-so</string>
		<key>katagana</key>
		<string>ソ@3x.png</string>
		<key>hiragana</key>
		<string>そ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-to</string>
		<key>katagana</key>
		<string>ト@3x.png</string>
		<key>hiragana</key>
		<string>と@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-no</string>
		<key>katagana</key>
		<string>ノ@3x.png</string>
		<key>hiragana</key>
		<string>の@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-ho</string>
		<key>katagana</key>
		<string>ホ@3x.png</string>
		<key>hiragana</key>
		<string>ほ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-mo</string>
		<key>katagana</key>
		<string>モ@3x.png</string>
		<key>hiragana</key>
		<string>も@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-yo</string>
		<key>katagana</key>
		<string>ヨ@3x.png</string>
		<key>hiragana</key>
		<string>よ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>B-ro</string>
		<key>katagana</key>
		<string>ロ@3x.png</string>
		<key>hiragana</key>
		<string>ろ@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string>G-wo</string>
		<key>katagana</key>
		<string>ヲ@3x.png</string>
		<key>hiragana</key>
		<string>を@3x.png</string>
	</dict>
	<dict>
		<key>sound</key>
		<string></string>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
</array>
</plist>
