<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>w_navBtn</key>
		<array>
			<string>back@3x.png</string>
			<string>katagana@3x.png</string>
			<string>showHide@3x.png</string>
			<string>guideHide@3x.png</string>
			<string>line@3x.png</string>
		</array>
		<key>w_navBtnSelected</key>
		<array>
			<string>back@3x.png</string>
			<string>hiragana@3x.png</string>
			<string>show@3x.png</string>
			<string>guide@3x.png</string>
			<string>lineHide@3x.png</string>
		</array>
	</dict>
</array>
</plist>
