<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>p_back@3x.png</string>
	<string>p_hiragana@3x.png</string>
	<string>p_katakana@3x.png</string>
	<string>p_femalVoice@3x.png</string>
	<string>p_malVoice@3x.png</string>
</array>
</plist>
