<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>voice</key>
			<array>
				<string>a</string>
				<string>i</string>
				<string>u</string>
				<string>e</string>
				<string>o</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>あ</string>
				<string>い</string>
				<string>う</string>
				<string>え</string>
				<string>お</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ア</string>
				<string>イ</string>
				<string>ウ</string>
				<string>エ</string>
				<string>オ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-a</string>
				<string>B-i</string>
				<string>B-u</string>
				<string>B-e</string>
				<string>B-o</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-a</string>
				<string>G-i</string>
				<string>G-u</string>
				<string>G-e</string>
				<string>G-o</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>ka</string>
				<string>ki</string>
				<string>ku</string>
				<string>ke</string>
				<string>ko</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>か</string>
				<string>き</string>
				<string>く</string>
				<string>け</string>
				<string>こ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>カ</string>
				<string>キ</string>
				<string>ク</string>
				<string>ケ</string>
				<string>コ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-ka</string>
				<string>B-ki</string>
				<string>B-ku</string>
				<string>B-ke</string>
				<string>B-ko</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-ka</string>
				<string>G-ki</string>
				<string>G-ku</string>
				<string>G-ke</string>
				<string>G-ko</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>sa</string>
				<string>shi</string>
				<string>su</string>
				<string>se</string>
				<string>so</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>さ</string>
				<string>し</string>
				<string>す</string>
				<string>せ</string>
				<string>そ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>サ</string>
				<string>シ</string>
				<string>ス</string>
				<string>セ</string>
				<string>ソ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-sa</string>
				<string>B-shi</string>
				<string>B-su</string>
				<string>B-se</string>
				<string>B-so</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-sa</string>
				<string>G-shi</string>
				<string>G-su</string>
				<string>G-se</string>
				<string>G-so</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>ta</string>
				<string>chi</string>
				<string>tsu</string>
				<string>te</string>
				<string>to</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>た</string>
				<string>ち</string>
				<string>つ</string>
				<string>て</string>
				<string>と</string>
			</array>
			<key>katakana</key>
			<array>
				<string>タ</string>
				<string>チ</string>
				<string>ツ</string>
				<string>テ</string>
				<string>ト</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-ta</string>
				<string>B-chi</string>
				<string>B-tsu</string>
				<string>B-te</string>
				<string>B-to</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-ta</string>
				<string>G-chi</string>
				<string>G-tsu</string>
				<string>G-te</string>
				<string>G-to</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>na</string>
				<string>ni</string>
				<string>nu</string>
				<string>ne</string>
				<string>no</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>な</string>
				<string>に</string>
				<string>ぬ</string>
				<string>ね</string>
				<string>の</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ナ</string>
				<string>ニ</string>
				<string>ヌ</string>
				<string>ネ</string>
				<string>ノ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-na</string>
				<string>B-ni</string>
				<string>B-nu</string>
				<string>B-ne</string>
				<string>B-no</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-na</string>
				<string>G-ni</string>
				<string>G-nu</string>
				<string>G-ne</string>
				<string>G-no</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>ha</string>
				<string>hi</string>
				<string>hu</string>
				<string>he</string>
				<string>ho</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>は</string>
				<string>ひ</string>
				<string>ふ</string>
				<string>へ</string>
				<string>ほ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ハ</string>
				<string>ヒ</string>
				<string>フ</string>
				<string>ヘ</string>
				<string>ホ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-ha</string>
				<string>B-hi</string>
				<string>B-fu</string>
				<string>B-he</string>
				<string>B-ho</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-ha</string>
				<string>G-hi</string>
				<string>G-fu</string>
				<string>G-he</string>
				<string>G-ho</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>ma</string>
				<string>mi</string>
				<string>mu</string>
				<string>me</string>
				<string>mo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>ま</string>
				<string>み</string>
				<string>む</string>
				<string>め</string>
				<string>も</string>
			</array>
			<key>katakana</key>
			<array>
				<string>マ</string>
				<string>ミ</string>
				<string>ム</string>
				<string>メ</string>
				<string>モ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-ma</string>
				<string>B-mi</string>
				<string>B-mu</string>
				<string>B-me</string>
				<string>B-mo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-ma</string>
				<string>G-mi</string>
				<string>G-mu</string>
				<string>G-me</string>
				<string>G-mo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>ya</string>
				<string></string>
				<string>yu</string>
				<string></string>
				<string>yo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>や</string>
				<string></string>
				<string>ゆ</string>
				<string></string>
				<string>よ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ヤ</string>
				<string></string>
				<string>ユ</string>
				<string></string>
				<string>ヨ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-ya</string>
				<string>0</string>
				<string>B-yu</string>
				<string>0</string>
				<string>B-yo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-ya</string>
				<string>0</string>
				<string>G-yu</string>
				<string>0</string>
				<string>G-yo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>ra</string>
				<string>ri</string>
				<string>ru</string>
				<string>re</string>
				<string>ro</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>ら</string>
				<string>り</string>
				<string>る</string>
				<string>れ</string>
				<string>ろ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ラ</string>
				<string>リ</string>
				<string>ル</string>
				<string>レ</string>
				<string>ロ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-ra</string>
				<string>B-ri</string>
				<string>B-ru</string>
				<string>B-re</string>
				<string>B-ro</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-ra</string>
				<string>G-ri</string>
				<string>G-ru</string>
				<string>G-re</string>
				<string>G-ro</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>wa</string>
				<string></string>
				<string></string>
				<string></string>
				<string>wo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>わ</string>
				<string></string>
				<string></string>
				<string></string>
				<string>を</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ワ</string>
				<string></string>
				<string></string>
				<string></string>
				<string>ヲ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-wa</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>B-wo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-wa</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>G-wo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>n</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>hiragana</key>
			<array>
				<string>ん</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>katakana</key>
			<array>
				<string>ン</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-n</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-n</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>voice</key>
			<array>
				<string>ga</string>
				<string>gi</string>
				<string>gu</string>
				<string>ge</string>
				<string>go</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>が</string>
				<string>ぎ</string>
				<string>ぐ</string>
				<string>げ</string>
				<string>ご</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ガ</string>
				<string>ギ</string>
				<string>グ</string>
				<string>ゲ</string>
				<string>ゴ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-ga</string>
				<string>B-gi</string>
				<string>B-gu</string>
				<string>B-ge</string>
				<string>B-go</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-ga</string>
				<string>G-gi</string>
				<string>G-gu</string>
				<string>G-ge</string>
				<string>G-go</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>za</string>
				<string>ji</string>
				<string>zu</string>
				<string>ze</string>
				<string>zo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>ざ</string>
				<string>じ</string>
				<string>ず</string>
				<string>ぜ</string>
				<string>ぞ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ザ</string>
				<string>ジ</string>
				<string>ズ</string>
				<string>ゼ</string>
				<string>ゾ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-za</string>
				<string>B-ji</string>
				<string>B-zu</string>
				<string>B-ze</string>
				<string>B-zo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-za</string>
				<string>G-ji</string>
				<string>G-zu</string>
				<string>G-ze</string>
				<string>G-zo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>da</string>
				<string>di</string>
				<string>du</string>
				<string>de</string>
				<string>do</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>だ</string>
				<string>ぢ</string>
				<string>づ</string>
				<string>で</string>
				<string>ど</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ダ</string>
				<string>ヂ</string>
				<string>ヅ</string>
				<string>デ</string>
				<string>ド</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-da</string>
				<string>B-ji</string>
				<string>B-zu</string>
				<string>B-de</string>
				<string>B-do</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-da</string>
				<string>G-ji</string>
				<string>G-zu</string>
				<string>G-de</string>
				<string>G-do</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>ba</string>
				<string>bi</string>
				<string>bu</string>
				<string>be</string>
				<string>bo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>ば</string>
				<string>び</string>
				<string>ぶ</string>
				<string>べ</string>
				<string>ぼ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>バ</string>
				<string>ビ</string>
				<string>ブ</string>
				<string>ベ</string>
				<string>ボ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-ba</string>
				<string>B-bi</string>
				<string>B-bu</string>
				<string>B-be</string>
				<string>B-bo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-ba</string>
				<string>G-bi</string>
				<string>G-bu</string>
				<string>G-be</string>
				<string>G-bo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>pa</string>
				<string>pi</string>
				<string>pu</string>
				<string>pe</string>
				<string>po</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>ぱ</string>
				<string>ぴ</string>
				<string>ぷ</string>
				<string>ぺ</string>
				<string>ぽ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>パ</string>
				<string>ピ</string>
				<string>プ</string>
				<string>ペ</string>
				<string>ポ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-pa</string>
				<string>B-pi</string>
				<string>B-pu</string>
				<string>B-pe</string>
				<string>B-po</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-pa</string>
				<string>G-pi</string>
				<string>G-pu</string>
				<string>G-pe</string>
				<string>G-po</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>voice</key>
			<array>
				<string>kya</string>
				<string>kyu</string>
				<string>kyo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>きゃ</string>
				<string>きゅ</string>
				<string>きょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>キャ</string>
				<string>キュ</string>
				<string>キョ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-kya</string>
				<string>B-kyu</string>
				<string>B-kyo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-kya</string>
				<string>G-kyu</string>
				<string>G-kyo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>gya</string>
				<string>gyu</string>
				<string>gyo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>ぎゃ</string>
				<string>ぎゅ</string>
				<string>ぎょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ギャ</string>
				<string>ギュ</string>
				<string>ギョ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-gya</string>
				<string>B-gyu</string>
				<string>B-gyo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-gya</string>
				<string>G-gyu</string>
				<string>G-gyo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>sha</string>
				<string>shu</string>
				<string>sho</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>しゃ</string>
				<string>しゅ</string>
				<string>しょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>シャ</string>
				<string>シュ</string>
				<string>ショ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-sha</string>
				<string>B-shu</string>
				<string>B-sho</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-sha</string>
				<string>G-shu</string>
				<string>G-sho</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>ja</string>
				<string>ju</string>
				<string>jo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>じゃ</string>
				<string>じゅ</string>
				<string>じょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ジャ</string>
				<string>ジュ</string>
				<string>ジョ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-ja</string>
				<string>B-ju</string>
				<string>B-jo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-ja</string>
				<string>G-ju</string>
				<string>G-jo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>cha</string>
				<string>chu</string>
				<string>cho</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>ちゃ</string>
				<string>ちゅ</string>
				<string>ちょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>チャ</string>
				<string>チュ</string>
				<string>チョ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-cha</string>
				<string>B-chu</string>
				<string>B-cho</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-cha</string>
				<string>G-chu</string>
				<string>G-cho</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>dya</string>
				<string>dyu</string>
				<string>dyo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>ぢゃ</string>
				<string>ぢゅ</string>
				<string>ぢょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ヂャ</string>
				<string>ヂュ</string>
				<string>ヂョ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-ja</string>
				<string>B-ju</string>
				<string>B-jo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-ja</string>
				<string>G-ju</string>
				<string>G-jo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>nya</string>
				<string>nyu</string>
				<string>nyo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>にゃ</string>
				<string>にゅ</string>
				<string>にょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ニャ</string>
				<string>ニュ</string>
				<string>ニョ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-nya</string>
				<string>B-nyu</string>
				<string>B-nyo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-nya</string>
				<string>G-nyu</string>
				<string>G-nyo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>hya</string>
				<string>hyu</string>
				<string>hyo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>ひゃ</string>
				<string>ひゅ</string>
				<string>ひょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ヒャ</string>
				<string>ヒュ</string>
				<string>ヒョ</string>
				<string>ゴ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-hya</string>
				<string>B-hyu</string>
				<string>B-hyo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-hya</string>
				<string>G-hyu</string>
				<string>G-hyo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>bya</string>
				<string>byu</string>
				<string>byo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>びゃ</string>
				<string>びゅ</string>
				<string>びょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ビャ</string>
				<string>ビュ</string>
				<string>ビョ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-bya</string>
				<string>B-byu</string>
				<string>B-byo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-bya</string>
				<string>G-byu</string>
				<string>G-byo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>pya</string>
				<string>pyu</string>
				<string>pyo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>ぴゃ</string>
				<string>ぴゅ</string>
				<string>ぴょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ピャ</string>
				<string>ピュ</string>
				<string>ピョ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-pya</string>
				<string>B-pyu</string>
				<string>B-pyo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-pya</string>
				<string>G-pyu</string>
				<string>G-pyo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>mya</string>
				<string>myu</string>
				<string>myo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>みゃ</string>
				<string>みゅ</string>
				<string>みょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>ミャ</string>
				<string>ミュ</string>
				<string>ミョ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-mya</string>
				<string>B-myu</string>
				<string>B-myo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-mya</string>
				<string>G-myu</string>
				<string>G-myo</string>
			</array>
		</dict>
		<dict>
			<key>voice</key>
			<array>
				<string>rya</string>
				<string>ryu</string>
				<string>ryo</string>
			</array>
			<key>hiragana</key>
			<array>
				<string>りゃ</string>
				<string>りゅ</string>
				<string>りょ</string>
			</array>
			<key>katakana</key>
			<array>
				<string>リャ</string>
				<string>リュ</string>
				<string>リョ</string>
			</array>
			<key>boySound</key>
			<array>
				<string>B-rya</string>
				<string>B-ryu</string>
				<string>B-ryo</string>
			</array>
			<key>girlSound</key>
			<array>
				<string>G-rya</string>
				<string>G-ryu</string>
				<string>G-ryo</string>
			</array>
		</dict>
	</array>
</array>
</plist>
