<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>katagana</key>
		<string>ア</string>
		<key>hiragana</key>
		<string>あ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>カ</string>
		<key>hiragana</key>
		<string>か</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>サ</string>
		<key>hiragana</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>タ</string>
		<key>hiragana</key>
		<string>た</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ナ</string>
		<key>hiragana</key>
		<string>な</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ハ</string>
		<key>hiragana</key>
		<string>は</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>マ</string>
		<key>hiragana</key>
		<string>ま</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ヤ</string>
		<key>hiragana</key>
		<string>や</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ラ</string>
		<key>hiragana</key>
		<string>ら</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ワ</string>
		<key>hiragana</key>
		<string>わ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ン</string>
		<key>hiragana</key>
		<string>ん</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>イ</string>
		<key>hiragana</key>
		<string>い</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>キ</string>
		<key>hiragana</key>
		<string>き</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>シ</string>
		<key>hiragana</key>
		<string>し</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>チ</string>
		<key>hiragana</key>
		<string>ち</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ニ</string>
		<key>hiragana</key>
		<string>に</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ヒ</string>
		<key>hiragana</key>
		<string>ひ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ミ</string>
		<key>hiragana</key>
		<string>み</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>リ</string>
		<key>hiragana</key>
		<string>り</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ウ</string>
		<key>hiragana</key>
		<string>う</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ク</string>
		<key>hiragana</key>
		<string>く</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ス</string>
		<key>hiragana</key>
		<string>す</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ツ</string>
		<key>hiragana</key>
		<string>つ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ヌ</string>
		<key>hiragana</key>
		<string>ぬ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>フ</string>
		<key>hiragana</key>
		<string>ふ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ム</string>
		<key>hiragana</key>
		<string>む</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ユ</string>
		<key>hiragana</key>
		<string>ゆ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ル</string>
		<key>hiragana</key>
		<string>る</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>エ</string>
		<key>hiragana</key>
		<string>え</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ケ</string>
		<key>hiragana</key>
		<string>け</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>セ</string>
		<key>hiragana</key>
		<string>せ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>テ</string>
		<key>hiragana</key>
		<string>て</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ネ</string>
		<key>hiragana</key>
		<string>ね</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ヘ</string>
		<key>hiragana</key>
		<string>ヘ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>メ</string>
		<key>hiragana</key>
		<string>め</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>レ</string>
		<key>hiragana</key>
		<string>れ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>オ</string>
		<key>hiragana</key>
		<string>お</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>コ</string>
		<key>hiragana</key>
		<string>こ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ソ</string>
		<key>hiragana</key>
		<string>そ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ト</string>
		<key>hiragana</key>
		<string>と</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ノ</string>
		<key>hiragana</key>
		<string>の</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ホ</string>
		<key>hiragana</key>
		<string>ほ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>モ</string>
		<key>hiragana</key>
		<string>も</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ヨ</string>
		<key>hiragana</key>
		<string>よ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ロ</string>
		<key>hiragana</key>
		<string>ろ</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string>ヲ</string>
		<key>hiragana</key>
		<string>を</string>
	</dict>
	<dict>
		<key>katagana</key>
		<string></string>
		<key>hiragana</key>
		<string></string>
	</dict>
</array>
</plist>
